<launch>

  <!-- <node pkg="turtlesim" type="turtlesim_node" name="turtlesim_node" /> -->
  <node pkg="joy" type="joy_node" name="joy_node" args="_dev:=/dev/input/js0" respawn="true" />

  <node pkg="joy_control" type="joy_move" name="joy_controller" respawn="true">
    <remap from="cmd_vel" to="/turtle1/cmd_vel" />
  </node>

</launch>
